.container {
  font-family: sans-serif;
  min-height: inherit;
  display: grid;
  grid-template-columns: 72px 1fr;
  color: white;
}

.sidebar {
  display: flex;
  flex-direction: column;
  gap: 10px;
  background-color: var(--primary-black);
  align-items: center;
  padding-top: 15px;
}

.discordLogo {
  border-radius: 25%;
}

.divider {
  width: 32px;
  height: 2px;
  background-color: var(--text-tertiary);
  margin-bottom: 10px;
}
.channelLogo {
  width: 48px;
  border-radius: 50%;
}

.logo {
  box-sizing: content-box;
  padding: 12px;
  border-radius: 50%;
  background-color: #4f545c;
  color: #3ba55d;
}
