.app_header {
  display: flex;
  align-items: center;
  height: 48px;
  border-bottom: 2px solid #00000050;
  padding: 10px;
  gap: 10px;
}

.app_wrapper1 {
  display: flex;
  width: 0;
  flex: 1 1 auto;
  gap: 10px;
  font-size: 14px;
  white-space: nowrap;
  overflow: hidden;
}

.app_at-icon {
  min-width: fit-content;
}

.app_promo {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
