.mainContent {
  display: grid;
  grid-template-columns: 240px 1fr;
  background-color: var(--tertiary-black);
}

.messageContainer {
  position: relative;
  overflow: hidden;
}

.mainNav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 2px solid #00000050;
  padding: 10px 20px;
  height: 48px;
  color: var(--text-primary);
  font-size: 15px;
}

.innerFriendWrapper {
  display: flex;
  align-items: center;
  gap: 10px;
}

.navIconWrapper {
  display: flex;
  align-items: center;
  gap: 25px;
}

.navFriendWrapper {
  display: flex;
  flex: 1 1 auto;
  align-items: center;
  align-items: center;
  gap: 15px;
  width: 0;
  overflow: hidden;
  white-space: nowrap;
}

.navStatusWrapper {
  display: flex;
  align-items: center;
  gap: 25px;
}

.wumpusWrapper {
  display: flex;
  position: absolute;
  top: 50%;
  left: 50%;
  flex-direction: column;
  gap: 50px;
  transform: translate(-50%, -50%);
  color: #8e9297;
  text-align: center;
}

.friendWord {
  color: white;
}

.onlineWord {
  border-radius: 5px;
  background-color: var(--text-tertiary);
  padding: 2px 10px;
  color: white;
}

.addFriendWord {
  border-radius: 3px;
  background-color: #2d7d46;
  padding: 2px 10px;
  width: max-content;
  color: white;
}

.divider {
  background-color: var(--text-tertiary);
  width: 1px;
  height: 24px;
}
