.sidebar2 {
  display: flex;
  position: relative;
  flex-direction: column;
  background-color: var(--secondary-black);
  color: var(--text-primary);
}

.inputWrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  border-bottom: 2px solid #00000050;
  height: 48px;
}

.sidebarInput {
  border: none;
  border-radius: 3px;
  background-color: var(--primary-black);
  padding: 5px;
  height: 28px;
}

.sidebarInput::placeholder {
  color: var(--text-secondary);
  font-size: 14px;
}
/* prettier-ignore */
.iconWrapper, .dmListWrapper, .dmWrapper {
  margin: 10px;
}

.iconWrapper {
  display: flex;
  align-items: center;
  gap: 15px;
  padding: 5px;
}

.friendsWord {
  border-radius: 3px;
  background-color: var(--text-tertiary);
}

.dmWrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-right: 30px;
  font-size: 12px;
}

.dmPlus {
  font-size: 20px;
}

.dmListWrapper {
  display: flex;
  position: relative;
  align-items: center;
  gap: 10px;
}

.statusImageWrapper {
  position: relative;
}

.onlineStatus {
  position: absolute;
  right: 0%;
  bottom: 0%;
  border: 2px solid var(--secondary-black);
  border-radius: 50%;
  background-color: #3ba55d;
  width: 13px;
  height: 13px;
}

.userWrapper {
  display: flex;
  position: absolute;
  bottom: 0;
  justify-content: center;
  align-items: center;
  gap: 10px;
  background-color: var(--quaternary-black);
  padding: 5px;
  width: 100%;
}

.userName {
  color: white;
  font-size: 14px;
}

.userId {
  font-size: 12px;
}

.odinBot {
  border-radius: 50%;
  width: 32px;
}
