/* prettier-ignore */
*, *::before, *::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/* prettier-ignore */
input, textarea, button, select {
  font: inherit;
}

#root {
  min-height: 100vh;
}
